__pycache__
venv
.env
demo
.vscode
app/dependencies/picklefiles/BTC.pkl
app/dependencies/picklefiles/HEX.pkl
test
app/dependencies/picklefiles/PLS.pkl
app/dependencies/picklefiles/PLSX.pkl
app/dependencies/picklefiles/RICHAI.pkl
